@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
    --scissor-color: hsl(39, 89%, 49%);
    --paper-color: hsl(230, 89%, 62%);
    --rock-color: hsl(349, 89%, 62%);
    --dark-text: hsl(229, 26%, 31%);
    --score-text: hsl(299, 64%, 45%);
    --header-outline: hsl(217, 16%, 45%);
    --background-gradient: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    --font: 
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    color: #fff;
    text-align: center;
    background: var(--background-gradient);
    box-sizing: border-box;
    font-size: 2.5rem;
}

a {
    color: #fff;
}