.footer-container {
  background-color: var(--darker);
  display: flex;
  padding-block: 20px;
  width: 100%;
  justify-content: center;
  margin-top: auto;
  gap: 10px;
  align-items: center;
  position: relative;
}

.footer-container button {
  background-color: transparent;
  border: 2px solid var(--light);
  color: var(--light);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  transition: 0.5s ease-in-out;
}

.footer-container button:hover {
  background-color: var(--light);
  color: var(--dark);
}
