.footer {
    width: 100vw;
    bottom: 0;
}

.footer .attribution {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translate(-50%);
}

.footer .rules {
    position: absolute;
    bottom: 1rem;
    padding: 10px 25px;
    right: 1rem;
    border-radius: .4rem;
    border: 3px solid var(--header-outline);
    color: var(--header-outline);
    background: none ;
    font-weight: 600;
    letter-spacing: 2px;
}

.footer .rules:hover{
    background-color: rgb(255, 255, 255);
    color: var(--dark-text);
    cursor: pointer;
}

@media (max-width: 1000px) {

    .footer .attribution {
        display: none;;
    }

    .footer .rules {
        left: 1rem;
    }
}