.result-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  width: 90%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
}

.result-container span {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(3em + 1vw);
  color: var(--dark);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid var(--light);
  box-shadow: inset -10px -5px 10px var(--dark),
    inset 10px 5px 50px -10px var(--light), inset 0 0 20px var(--dark),
    inset 0 0 0 30px var(--light-dark);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center center;
}

.result {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--darker);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.result a {
  padding: 10px;
  text-decoration: none;
  color: var(--dark);
  background-color: var(--light);
  font-weight: bolder;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.result a:hover {
  transform: scale(1.02);
}

@media (max-width: 600px) {
  .result-container {
    aspect-ratio: 1 / 1;
    flex-direction: column;
  }

  .result-container span {
    width: 35%;
    box-shadow: inset -10px -5px 10px var(--dark),
      inset 10px 5px 50px -10px var(--light), inset 0 0 20px var(--dark),
      inset 0 0 0 15px var(--light-dark);
  }
}
